<html>
  <head>
    <title>Admin</title>
	<%-include("../Homepage/Header") -%> 
    <link rel="stylesheet"  href="/css/admin.css" />
    <link rel="stylesheet" href="/css/navandside.css">
  </head>
  <body>
	
	<%-include("../Homepage/Nav") -%> 
	
    <div>
    <%-include("../Homepage/sidebar")-%>
    </div>

    <div class="box-container admin">
      <div class="box box1">
        <div class="content">
          <h1>Log Book</h1>
          <p>
            Click on the following Log Book to monitor the Student's Entry and
            Exit timings into the hostel.
          </p>
          <a href="/entrydetails"><button class="btnn btn1">Entry details</button></a>
        </div>
      </div>
      <div class="box box2">
        <div class="content">
          <h1>Complaints</h1>
          <p>
            Click on the following button to register complaints concerning the
            hostel facilities.
          </p>
          <a href="/complaintlist"><button class="btnn btn2">Complaints</button></a>
        </div>
      </div>
      <div class="box box3">
        <div class="content">
          <h1>Notification</h1>
          <p>
            Click on the following button to send real-time notifications to concerned
            entities.
          </p>
          <a href="/makeannouncement"><button class="btnn btn3">Announcement</button></a>
        </div>
      </div>
      <div class="box box2">
        <div class="content">
          <h1>Room Allotment</h1>
          <p>
            Click on the following button to initiate automated room allotment process you will be redirected to Homepage
          </p>
          <a href="/roomallotment"><button class="btnn btn2">Room Allotment</button></a>
        </div>
      </div>
    </div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
  </body>
</html>
