
	<nav class=" navbar navbar-expand-sm nav1 sticky-top">
   <div class="container-fluid ">
	  <ul class="navbar-nav nav">
	   <li>
		   <a class="btn fs-4" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
		   <i class="bi bi-list icon"></i>
			</a>
	   </li>   
	   <li>
			  <a href="#" class="nav-link  jss fs-4" aria-current="page">
				  <img src="/images/logo.jpg" class="logo" alt="">  JSS Hostel
			  </a>
	   </li>
		 
	  </ul>
	  <ul class="navbar-nav nav navbar-right">
		  <li class="nav-item" style="padding-top: 6px;">
			  <a class="nav-link active fs-6" aria-current="page" href="#">Home</a>
		  </li>
		  <li class="nav-item" style="padding-top: 6px;">
			  <a class="nav-link active fs-6" aria-current="page" href="#">Student Login</a>
		  </li>
		  <li class="nav-item" style="padding-top: 6px;">
			  <a class="nav-link  active fs-6" aria-current="page" href="#">Staff Login</a>
		  </li>
		  <li class="nav-item">
			  <a class="nav-link  active fs-4" aria-current="page" href="#"><i class="bi bi-person-circle icon"></i></a>
		  </li>
	  </ul>
   </div>
  </nav>