
  <!-- sidebar, It gets triggered when user click on button-->
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="width: 250px;border-radius: 5px;">
 
     <!-- header -->
   <div class="offcanvas-header">
   <img src="images/logo-for-web-site.jpg" alt="#" style="width: 150px;">
   
   <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  
   </div>
   <div class="line"></div>
   <!-- Body -->
   <div class="offcanvas-body">
   <div>
    <ul class="nav-item sidemenu">
      <li class="nav-item side-menu-elements">
       <i class="bi bi-credit-card-fill "></i>
       <span class="side-menu-txt">
         <a href="">Pay Fee</a>
       </span>
      </li>
      <li class="nav-item side-menu-elements">
       <i class="bi bi-card-list"></i>
       <span class="side-menu-txt">
         <a href="">Complaint</a>
       </span>
      </li>
      <li class="nav-item side-menu-elements">
       <i class="bi bi-megaphone-fill"></i>
       <span class="side-menu-txt">
         <a href="">Announcement</a>
       </span>
      </li>
      <li class="nav-item side-menu-elements">
       <i class="bi bi-calendar-check-fill"></i>
       <span class="side-menu-txt">
         <a href="">Log Book</a>
       </span>
      </li>
      <li class="nav-item side-menu-elements">
       <i class="bi bi-chat-square-text-fill"></i>
       <span class="side-menu-txt">
         <a href="">Staff Details</a>
       </span>
      </li>
    </ul>
  </div>
 </div>

 