
 <!-- sidebar, It gets triggered when user click on button-->
 <div class="offcanvas offcanvas-start " tabindex="-1" id="offcanvasExample"  
 aria-labelledby="offcanvasExampleLabel" style="width: 200px;">

 <!-- header -->
  <div class="offcanvas-header">
  <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <!-- Body -->
  <div class="offcanvas-body">
  <div>
	<ul class="nav-item">
		<li class="nav-item">
			<a href="#">Pay Fee</a>
		</li>
	</ul>
  </div>
  
</div>
  